<div class="col-lg-4 floatybox mb-4" *ngFor="let item of episodes">
  <div class="card mx-4" style="width: 19rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Episode {{item.episode_code}}</li>
      <li class="list-group-item">Released On: <small>{{item.release_date | date : 'medium' }}</small></li>
    </ul>
    <div class="card-body">
      <a  [routerLink]="['/episode', item.id]" class="card-link text-decoration-none">View Episode</a>
    </div>
  </div>

</div>
