<div class="container mt-5 mb-5">
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="comments-box p-3 mt-3">
                <div class="d-flex justify-content-between align-items-center"> <span class="text-muted">Episode-{{episode.id}}</span> <span class="text-muted">{{episode.release_date | date : 'full'}}</span> </div>
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-muted">{{episode.name}}</h5>
                </div>
            </div>
            
            <div *ngFor="let item of episode.comments" class="card p-3 mb-2">             
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column ms-2">
                        <p class="comment-text">{{item.comment}}</p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                        <span class="text-muted fw-normal fs-10">{{item.created_at | date : 'medium'}}</span>
                    </div>       
                </div>     
            </div>
            <form  #f = "ngForm" ngNativeValidate>
                <div class="commentarea mt-3"> <input name="comment" [(ngModel)] = "comment" class="form-control mb-4"> </div>
                <div class="button text-center mt-3"> <button class="btn btn-info w-50"[disabled]="f.invalid" (click)="submitData(f,episodeId)" >Please Drop a Comment</button> </div>
            </form>

        </div>

    </div>
</div>
